.circle_box svg {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
  overflow: initial;
}

.circle_box circle {
  stroke-width: 20px;
  fill: none;
}
circle:nth-child(1) {
  stroke: #fff;
}
circle:nth-child(2) {
  stroke: #756aee;
  z-index: 1;
  position: relative;
}
.circle_box:nth-child(1) circle:nth-child(2) {
  stroke-dashoffset: calc(100 * 6);
  stroke-dasharray: calc(100 * 6);
  stroke-dashoffset: calc((100 * 6) - ((100 * 6) * 90) / 100);
}
.circle_box {
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.circle_box span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #756aee;
  font-size: 40px;
}
