::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #756aee;
  border-radius: 5px;
}

.NavCarousal  [data-testid="carousel-indicator"] {
  background-color: #a3a3a3;
  border-radius: 0px ;
}
.NavCarousal [class="h-3 w-3 rounded-full bg-white dark:bg-gray-800"] {
  background-color: #756aee;
}